main.container {
    max-width: 900px;
}

.navbar-dark .navbar-nav a.nav-link {
    color: white;
    font-size: 20px;
}

#home {
    color: white;
}

.navbar-dark .navbar-nav a.nav-link a {
  text-decoration: none;
  font-size: 23px;
}

.navbar-dark .navbar-nav a.nav-link:link {
	color: #fff;
}

.navbar-dark .navbar-nav a.nav-link:visited {
	color: #fefac0;
}

.navbar-dark .navbar-nav a.nav-link:focus {
	color: #fff;
}

.navbar-dark .navbar-nav a.nav-link:hover {
	color: #fff;
	text-decoration: underline;
}

.navbar-dark .navbar-nav a.nav-link:active {
	color: #fff;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

#home {
    background-image: url(../img/flower.png);
    background-color: black;
}

h1 {
    margin: 0;
    padding-top: 400px;
    text-align: center;
    color: white;
    font-size: 55px;
}

h1 + p {
    color: #fefac0;
    font-size: 35px;
    text-align: center;
    padding-bottom: 55px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 10px;
}

#about-me p {
    font-size: 25px;
    margin: 0 20px;
    text-align: justify;
}

#about-me img {
    width: 100%;
}

#education {
    background-image: url(../img/laptop.jpg);
    background-color: black;
}

#education h2 {
    margin-top: 10px;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

#education p {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 460px;
    padding-top: 40px;
}

#skills h2, #contact h2 {
    text-align: center;
    padding : 15px;
}

#skills img {
    width: 100%;
}

#contact {
    background-image: url(../img/laptop-code.png);
    background-color: black;
}

#contact h2 {
    margin: 20px;
    color: white;
}

#contact p {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 40px;
}

form input{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
    margin-bottom: 20px;
    opacity: .75;
}

form textarea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    opacity: .75;
}

#btn {
    width: 44%;
    margin-left: 25%;
} 

@media (min-width: 651px) {
    .grid-form {
        display: flex;
    }
    div.gr-btn{
        max-width: 44%;
        margin: auto;
    }
}

#links :first-of-type {
    width: 50px;
    height: 50px;
    margin-left: 18%;
}

#msg {
	font-size: 20px;
	color: white;
	text-align: center;
}
























